body {
    background-color: black;
    color: antiquewhite;
}
h2 {
    text-align: center;
}
#divider {
    text-align: center;
}
.userfullname{
    text-align: center;
}
#days {
    color: red;
}
.fa-video-camera {
    color: red;
}
.fa {
    font-size: 30px;
}
.row {
    width: 100%;
}
.col-sm-4 {
    margin-top: 10px;
}
#brand {
    color: cyan;
    font-size: 30px;
}